<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:contex="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <contex:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="hipHopMusic"
          class="com.example.demo.test.HipHopMusic">
    </bean>
    <bean id="rockMusic"
          class="com.example.demo.test.RockMusic">
    </bean>
    <bean id="classicalMusic"
          class="com.example.demo.test.ClassicalMusic">
    </bean>
    <bean id="musicPlayer"
          class="com.example.demo.test.MusicPlayer">
        <property name="musicList">
                <list>
                    <ref bean="hipHopMusic"/>
                    <ref bean="rockMusic"/>
                    <ref bean="classicalMusic"/>
                </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>
</beans>